<div class="container" *ngIf="!message">
  <div>
    Student name: {{ student.firstName | titlecase }}
    {{ student.lastName | titlecase }}
  </div>
  <div>Courses:</div>
  <div *ngFor="let course of student.courses" class="courses-container">
    <div class="course-details">
      {{ course.name | titlecase }}
    </div>
    <button class="confirmButton" [routerLink]="['attendance', course.id]">
      View attendance
    </button>
  </div>
  <button class="deleteButton" (click)="onDelete()">Delete</button>
</div>
<app-modal
  *ngIf="message"
  [(message)]="message"
  [redirectUrl]="redirectUrl"
></app-modal>
