.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0.5rem auto;
  gap: 1rem;
  align-items: center;
  button {
    height: 2rem;
    margin: 0.5rem;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      color: red;
      background-color: white;
    }
  }
}
