<div class="container" *ngIf="student">
  <div>
    Student name: {{ student.firstName | titlecase }}
    {{ student.lastName | titlecase }}
  </div>
  <div>Courses ({{ student.courses.length }}):</div>
  <div *ngFor="let course of student.courses" class="courses-container">
    <div class="course-details">
      {{ course.name | titlecase }}
    </div>
    <button class="confirmButton" [routerLink]="['attendance', course.id]">
      View attendance
    </button>
    <button class="deleteButton">Delete from course</button>
  </div>
  <button class="deleteButton" (click)="onDelete()">Delete</button>
</div>
