.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 1rem auto;
  max-width: 400px;
  button {
    height: 2rem;
    margin: 0.5rem;
    background-color: darkslategrey;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
    &:disabled {
      cursor: not-allowed;
    }
    &:hover {
      &:enabled {
        color: darkslategrey;
        background-color: white;
      }
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 100%;
      input {
        width: 100%;
        height: 30px;
        padding: 2px;
        border-radius: 5px;
        border: 2px solid black;
      }
    }
  }
}
