<div class="container">
  <form [formGroup]="newCourseForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" formControlName="name" />
    </div>
    <div>
      <label for="startingDate">Starting date</label>
      <input
        type="datetime-local"
        name="startingDate"
        id="startingDate"
        formControlName="startingDate"
      />
    </div>
    <div>
      <label for="endingDate">Ending date</label>
      <input
        type="datetime-local"
        name="endingDate"
        id="endingDate"
        formControlName="endingDate"
      />
    </div>
    <button [disabled]="!newCourseForm.valid">Submit</button>
  </form>
  <button routerLink="../">Back</button>
</div>
