<div class="container" *ngIf="course">
  <div>Course name: {{ course.name | titlecase }}</div>
  <div>
    <div *ngIf="course.students.length !== 0">
      Student list ({{ course.students.length }}):
    </div>
    <div *ngIf="course.students.length === 0">
      There are no students in this course
    </div>
    <div *ngFor="let student of course.students" class="students-container">
      <div class="students-details">
        {{ student.firstName | titlecase }}
        {{ student.lastName | titlecase }}
      </div>
      <button
        class="confirmButton"
        [routerLink]="['../../student', student.id, 'attendance', course.id]"
      >
        View attendance
      </button>
      <button (click)="onDeleteStudent(student)" class="deleteButton">
        Delete student
      </button>
    </div>
  </div>
  <button class="confirmButton" routerLink="add-student">Add student</button>
  <button (click)="onDeleteCourse()" class="deleteButton">Delete</button>
</div>
